# Phase One Project

## Project Overview

##### The company would like to expand. They want to venture into purchasing and operating airplanes.

## Objectives.
* 1. To determine which aircraft are the lowest risk
* 2. To use analysis to provide best insights to help decide which aircraft to operate with.

## Data Provided.
I will be using a dataset from National Transportation Safety Board. The data comprises of accident data from 1962 to 2023, showing civil aviation accidents and selected incidents in United States and International waters..

In [101]:
# Importin the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [71]:
df = pd.read_csv("AviationData.csv",encoding='latin-1',low_memory=False)

In [72]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,24/10/1948,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,19/07/1962,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19/09/1996
2,20061025X01555,Accident,NYC07LA005,30/08/1974,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26/02/2007
3,20001218X45448,Accident,LAX96LA321,19/06/1977,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12/09/2000
4,20041105X01764,Accident,CHI79FA064,02/08/1979,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16/04/1980

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [74]:
df=df[['Event.Date','Injury.Severity','Aircraft.damage','Make','Model','Purpose.of.flight'
       ,'Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured']]

In [75]:
df

,Event.Date,Injury.Severity,Aircraft.damage,Make,Model,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,24/10/1948,Fatal(2),Destroyed,Stinson,108-3,Personal,2.0,0.0,0.0,0.0
1,19/07/1962,Fatal(4),Destroyed,Piper,PA24-180,Personal,4.0,0.0,0.0,0.0
2,30/08/1974,Fatal(3),Destroyed,Cessna,172M,Personal,3.0,NaN,NaN,NaN
3,19/06/1977,Fatal(2),Destroyed,Rockwell,112,Personal,2.0,0.0,0.0,0.0
4,02/08/1979,Fatal(1),Destroyed,Cessna,501,Personal,1.0,2.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...
88884,26/12/2022,Minor,NaN,PIPER,PA-28-151,Personal,0.0,1.0,0.0,0.0
88885,26/12/2022,NaN,NaN,BELLANCA,7ECA,NaN,0.0,0.0,0.0,0.0
88886,26/12/2022,Non-Fatal,Substantial,AMERICAN CHAMPION AIRCRAFT,8GCBC,Personal,0.0,0.0,0.0,1.0
88887,26/12/2022,NaN,NaN,CESSNA,210N,Personal,0.0,0.0,0.0,0.0
88888,29/12/2022,Minor,NaN,PIPER,PA-24-260,Personal,0.0,1.0,0.0,1.0

In [78]:
# rename the columns
new_column_names={'Event.Date':'Date','Injury.Severity':'Injury_severity','Aircraft.damage':'Damage_state',
                 'Purpose.of.flight':'Flight_purpose','Total.Fatal.Injuries':'Fatal_injuries','Total.Serious.Injuries':'Serious_injuries',
                  'Total.Minor.Injuries':'Minor_injuries','Total.Uninjured':'Uninjured',
                 }
df.rename(columns=new_column_names,inplace=True)

In [79]:
df.head()

,Date,Injury_severity,Damage_state,Make,Model,Flight_purpose,Fatal_injuries,Serious_injuries,Minor_injuries,Uninjured
0,24/10/1948,Fatal(2),Destroyed,Stinson,108-3,Personal,2.0,0.0,0.0,0.0
1,19/07/1962,Fatal(4),Destroyed,Piper,PA24-180,Personal,4.0,0.0,0.0,0.0
2,30/08/1974,Fatal(3),Destroyed,Cessna,172M,Personal,3.0,NaN,NaN,NaN
3,19/06/1977,Fatal(2),Destroyed,Rockwell,112,Personal,2.0,0.0,0.0,0.0
4,02/08/1979,Fatal(1),Destroyed,Cessna,501,Personal,1.0,2.0,NaN,0.0

* Injury_severity and Fatal_injuries look the same, just that Fatal_injuries has more missing data.

In [80]:
# Calculate the percentage of  NaN values for each column
rows = len(df)
missing = df.isna().sum()
percentage_missing = missing / rows

# Put the data in a DataFrame and sort it
percentage_missing_df = pd.DataFrame({'Missing' : percentage_missing})
percentage_missing_df.sort_values('Missing')

# Only print columns with more than 10% missing values
print(percentage_missing_df[percentage_missing_df['Missing'] > 0.1])

                   Missing
Fatal_injuries    0.128261
Serious_injuries  0.140737
Minor_injuries    0.134246

In [87]:
#replace missing values with zero.
df.fillna({'Fatal_injuries':0,'Serious_injuries':0,'Minor_injuries':0},inplace=True)

In [88]:
df.head(10)

,Date,Injury_severity,Damage_state,Make,Model,Flight_purpose,Fatal_injuries,Serious_injuries,Minor_injuries,Uninjured
0,24/10/1948,Fatal(2),Destroyed,Stinson,108-3,Personal,2.0,0.0,0.0,0.0
1,19/07/1962,Fatal(4),Destroyed,Piper,PA24-180,Personal,4.0,0.0,0.0,0.0
2,30/08/1974,Fatal(3),Destroyed,Cessna,172M,Personal,3.0,0.0,0.0,NaN
3,19/06/1977,Fatal(2),Destroyed,Rockwell,112,Personal,2.0,0.0,0.0,0.0
4,02/08/1979,Fatal(1),Destroyed,Cessna,501,Personal,1.0,2.0,0.0,0.0
5,17/09/1979,Non-Fatal,Substantial,Mcdonnell Douglas,DC9,NaN,0.0,0.0,1.0,44.0
6,01/08/1981,Fatal(4),Destroyed,Cessna,180,Personal,4.0,0.0,0.0,0.0
7,01/01/1982,Non-Fatal,Substantial,Cessna,140,Personal,0.0,0.0,0.0,2.0
8,01/01/1982,Non-Fatal,Substantial,Cessna,401B,Business,0.0,0.0,0.0,2.0
9,01/01/1982,Non-Fatal,Substantial,North American,NAVION L-17B,Personal,0.0,0.0,3.0,0.0

In [89]:
df['Fatal_injuries'].value_counts()

Fatal_injuries
0.0      71076
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
156.0        1
68.0         1
31.0         1
115.0        1
176.0        1
Name: count, Length: 125, dtype: int64

In [92]:
# Setting the correct date format.
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              88889 non-null  datetime64[ns]
 1   Injury_severity   87889 non-null  object
 2   Damage_state      85695 non-null  object
 3   Make              88826 non-null  object
 4   Model             88797 non-null  object
 5   Flight_purpose    82697 non-null  object
 6   Fatal_injuries    88889 non-null  float64
 7   Serious_injuries  88889 non-null  float64
 8   Minor_injuries    88889 non-null  float64
 9   Uninjured         82977 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(5)
memory usage: 6.8+ MB

In [111]:
df["Make"].value_counts().head(20)

Make
Cessna               22227
Piper                12029
CESSNA                4922
Beech                 4330
PIPER                 2841
Bell                  2134
Boeing                1594
BOEING                1151
Grumman               1094
Mooney                1092
BEECH                 1042
Robinson               946
Bellanca               886
Hughes                 795
Schweizer              629
Air Tractor            595
BELL                   588
Mcdonnell Douglas      526
Aeronca                487
Maule                  445
Name: count, dtype: int64

In [ ]:
top_used_make_series = df["Make"].value_counts().head(10)

In [109]:
df.loc[df['Fatal_injuries']>1]

,Date,Injury_severity,Damage_state,Make,Model,Flight_purpose,Fatal_injuries,Serious_injuries,Minor_injuries,Uninjured
0,1948-10-24,Fatal(2),Destroyed,Stinson,108-3,Personal,2.0,0.0,0.0,0.0
1,1962-07-19,Fatal(4),Destroyed,Piper,PA24-180,Personal,4.0,0.0,0.0,0.0
2,1974-08-30,Fatal(3),Destroyed,Cessna,172M,Personal,3.0,0.0,0.0,NaN
3,1977-06-19,Fatal(2),Destroyed,Rockwell,112,Personal,2.0,0.0,0.0,0.0
6,1981-08-01,Fatal(4),Destroyed,Cessna,180,Personal,4.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
88833,2022-11-28,Fatal,Substantial,CESSNA,170,Personal,2.0,0.0,0.0,0.0
88835,2022-11-30,Fatal,Substantial,GREG HOBBS,LIGHTNING,Personal,2.0,0.0,0.0,0.0
88839,2022-12-03,Fatal,Unknown,PIPER,PA28,Personal,3.0,0.0,0.0,0.0
88843,2022-12-04,Fatal,Destroyed,CESSNA,210-5(205),Personal,2.0,0.0,0.0,0.0
88846,2022-12-05,Fatal,Destroyed,BEECH,F33A,Personal,3.0,0.0,0.0,0.0

In [113]:
sns.barplot(df['Model'],df['Fatal_injuries'])

TypeError: barplot() takes from 0 to 1 positional arguments but 2 were given